<%= corkd_form.text_field :identity_url, :instructions => 'your OpenID&mdash;it&apos;s never displayed to other users', :readonly=>true %>
<%= corkd_form.text_field :nickname, :instructions => 'this&apos;ll be how folks identify you on this site', :readonly=>readonly %>
<%= corkd_form.text_field :email, :instructions => 'you do have one of these, don&apos;t you?', :readonly=>readonly  %>
<%= corkd_form.text_field :first_name,  :instructions => '', :readonly=>readonly %>
<%= corkd_form.text_field :last_name, :instructions => '', :readonly=>readonly %>
<%= corkd_form.text_field :country, :instructions => '', :readonly=>readonly  %>
<%= corkd_form.text_field :zip, :instructions => '', :readonly=>readonly  %>
<%= corkd_form.text_field :authenticator, :instructions => "This is a random password you can use to access your account from tools that require passwords. Your username for such services is '#{corkd_form.object.id}'", :readonly=>readonly  %>
<% blurb = ( (u = corkd_form.object.twipl_url) ? link_to( u, u) : 'you must pick a nickname to receive a Twipl subdomain' ) -%>
<% if user_is_admin %>
<%= corkd_form.text_field :alternate_domain, :instructions => "Your public Twips will be visible on this domain in addition to your free Twipl subdomain (#{blurb})", :readonly=>readonly  %>
<% else%>
<tr><td colspan = '2'>Your public Twips will be visible on your free Twipl subdomain (<%= blurb %>)</td></tr>
<% end %>