<% error_handling_form_for( @user) do |f| %>
   <dl><dt>OpenID</dt><dd><%=h @user.identity_url%></dd></dl>
   <%= f.text_field :nickname %>
   <%= f.text_field :email %>
   <%= f.text_field :first_name %>
   <%= f.text_field :last_name %>
   <%= f.text_field :country %>
   <%= f.text_field :zip %>
   <tr><th></th><td><%= submit_tag %></td></tr>
<% end %>