<h1>Create a <%=company_name%> Account</h1>
<dl><dt>OpenID</dt><dd><%=h @user.identity_url%></dd></dl>
<p>Your identity has been verified but you're not yet a <%= company_name%> member&mdash;please register:</p>
<% corkd_form_for( @user) do |f| %>
<%= render :partial => f, :locals => {:readonly => false}%>
<% 
   unless @captcha.captcha_verified 
      corkd_fields_for @captcha do |captcha|
%>
<%= captcha.text_field :captcha, :instructions => "Type the characters you see in the picture below to prove you&apos;re a #{ external_link_to 'real person', 'http://en.wikipedia.org/wiki/Turing_test'}." %>
<%= hidden_field :captcha, :captcha_session %>
<%    end%>
<% end %>
<tr class='last'><th></th><td><%= submit_tag %></td></tr>
<% end %>
<% unless @captcha.captcha_verified %>
<p><img src="http://captchator.com/captcha/image/<%= @captcha.captcha_session %>"/></p>
<%end%>