<div class='twip post prepend-1'>
   <div class='span-13 twip_head'>
      <div class='twip_chat'></div>
      <div class='span-12 last'>
<h1 class='title post-title'><%= link_to show.title, :controller => 'twips', :action=>'show', :id => show.id %></h1>
<h2 class='authorship'><span class='date'><%= date( show.created_at ) %></span><span class='time'><%= time( show.created_at ) %></span> | <span class='author'><%= show.author.nickname %></span></h2>
      </div>
   </div>
<div class='body'><%= show.body %></div>
</div>
