<%
author_viewing = (@builder.object.author.identity_url == authenticated_identity_url)
-%>
<!-- do not give e.g. span-13 class since we want .date to _invade_ the header on twips/index-->
<div class='twip post prepend-1'>
      <h1 class='title post-title'>
<%=
   @builder.text_field( :title, :required => true, :label => nil ) do | value, html_opts |
      link_to h( value ), :controller => 'twips', :action=>'show', :id => @builder.object.id
   end + @builder.feedback( :title)
%>
      </h1>
<% if @builder.rendering_controls? %>
<p><%= @builder.check_box :public, :hint => 'check here to tell the whole world' %></p>
<% elsif author_viewing %>
<p><%= @builder.object.public ? 'public' : 'private' %></p>
<% end %>
      <h2 class='authorship span-13 last'><span class='reactions'>0 reactions</span><span class='date'><%= date( @builder.object.created_at ) %></span> <%= (t = time( @builder.object.created_at )) ? "at #{t} " : nil %><%= link_to( 'edit', :controller => 'twips', :action => 'edit', :id => @builder.object.id ) if ! @builder.object.new_record? && author_viewing %> posted by <span class='author'><%= @builder.object.author.nickname %></span></h2>
      <div class='body span-13 last'>
<% if @builder.rendering_controls? -%>
<%=   yield %>
<% else -%>
<%=   sanitize yield %>
<% end -%>
      </div>
</div>