<div class='twip post'>
<h1 class='title post-title'><%= link_to show.title, :controller => 'twips', :action=>'show', :id => show.id %></h2>
<h2 class='authorship'><span class='author'><%= show.author.nickname %></span> | <span class='date'><%= date( show.created_at ) %></span> | <span class='time'><%= time( show.created_at ) %></span></h3>
<div class='body'><%= show.body %></div>
</div>