<p><%= company_name %> is a technology consultancy based in Portland Oregon.</p>
<h1>We Create iPhone &amp; Web Applications</h1>
<p>At <%= company_name %> we develop joyful Web applications using whizbang technology like Ruby on Rails and Amazon Elastic Computing Cloud. Got a native iPhone app in mind? We can help with that too.</p>
<h1>Security is Our Specialty</h1>
<p>We know security. Moving to OpenID? We can help. Whether you need an innovative security solution for your new project or a security assessment for an existing one <%= company_name %> is your pal.</p>
<h1 class='tasty-technologies'>Tasty Technologies</h1>
<ol><li><%= google_search_link_to 'iPhone', :class=>'external iphone' %></li><li><%= google_search_link_to 'OpenID', :class=>'external openid'%></li><li><%= google_search_link_to 'Ruby on Rails', :class=>'external ruby-on-rails'%></li><li><%= google_search_link_to 'Amazon Web Services', :class=>'external amazon-web-services'%></li></ol>