<div class='span-13 prepend-1 bg intro'>
   <h1><%= company_name %> is go for burn</h1><p>in <%=link_to 'Portland Oregon', contact_url %> handcrafting sweet digital machines.</p>
</div>

<div class="span-13 prepend-1">
   <div class="span-2 icon"><a href="http://#"><img src="/images/icon_rails.png" alt="Rails Application Development" /></a></div>
   <div class="span-2 icon"><a href="http://#"><img src="/images/icon_iphone.png" alt="iPhone Application Development" /></a></div>
   <div class="span-5 icon"><a href="http://#"><img src="/images/icon_amazon.png" alt="Amazon Development" /></a></div>
   <div class="span-2 append-2 last icon"><a href="http://#"><img src="/images/icon_openid.png" alt="OpenID Security Development" /></a></div>
   <div class='icon span-2'><%= link_to '<img src="/images/icon_bill.png" alt="Bill" />', contact_url %></div>
      <div class='span-11 last'>
         <h1>Bill Burcham is our Main Engine</h1>
         <p>He has the skills of five space ninja.</p>
   </div>
</div>

<div class='span-13 prepend-1'>
   <h1>We Create Web and iPhone Applications</h1>
   <p>At <%= company_name %> we develop <%= link_to 'joyful', why_url%> Web applications using whizbang technology like <%= external_google_search_link_to 'Ruby on Rails' %> and <%= external_google_search_link_to 'Amazon Elastic Computing Cloud'%>.</p>
   <p>Got a native <%= external_google_search_link_to 'iPhone'%> app in mind? We can help with that too.</p>
</div>

<div class='span-13 prepend-1'>
   <h1>Security is Our Specialty</h1>
   <p>We know security. Moving to <%= external_google_search_link_to 'OpenID'%>? We can help. Whether you need an innovative security solution for your new project or a security assessment for an existing one <%= company_name %> is your pal.</p>
</div>

<div class='hide'>
<%= co_branding_link('iPhone', 'rails_logo_remix_big.png') %>
<%= co_branding_link('OpenID', 'openid-icon-100x100.png') %>
<%= co_branding_link('Ruby on Rails', 'rails_logo_remix_big.png') %>
<%= co_branding_link('Amazon Web Services', 'PBAWS_LOGO_300px.jpg') %>
</div>
