<div class='intro'>
<p><%= company_name %> is go for burn in <%=link_to 'Portland Oregon', contact_url %> handcrafting sweet digital machines.</p>
</div>
<h1>We Create iPhone &amp; Web Applications</h1>
<p>At <%= company_name %> we develop <%= link_to 'joyful', why_url%> Web applications using whizbang technology like <%= external_google_search_link_to 'Ruby on Rails' %> and <%= external_google_search_link_to 'Amazon Elastic Computing Cloud'%>. Got a native <%= external_google_search_link_to 'iPhone'%> app in mind? We can help with that too.</p>
<h1>Security is Our Specialty</h1>
<p>We know security. Moving to <%= external_google_search_link_to 'OpenID'%>? We can help. Whether you need an innovative security solution for your new project or a security assessment for an existing one <%= company_name %> is your pal.</p>
<div class='tasty-technologies'>
<h1>Tasty Technologies</h1>
<ol><li><%= co_branding_link('iPhone', 'rails_logo_remix_big.png') %></li><li><%= co_branding_link('OpenID', 'openid-icon-100x100.png') %></li><li><%= co_branding_link('Ruby on Rails', 'rails_logo_remix_big.png') %></li><li><%= co_branding_link('Amazon Web Services', 'PBAWS_LOGO_300px.jpg') %></li></ol>
</div>