<div class='intro'>
   <p><%= company_name %> is go for burn in <%=link_to 'Portland Oregon', contact_url %> handcrafting sweet digital machines.</p>
</div>

<div class='popout web'>
   <h1>We Create Web Applications</h1>
   <p>At <%= company_name %> we develop <%= link_to 'joyful', why_url%> Web applications using whizbang technology like <%= external_google_search_link_to 'Ruby on Rails' %> and <%= external_google_search_link_to 'Amazon Elastic Computing Cloud'%>.</p>
</div>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<div class='popout iphone'>
   <h1>We Create iPhone Applications</h1>
   <p>Got a native <%= external_google_search_link_to 'iPhone'%> app in mind? We can help with that too.</p>
</div>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<div class='popout security'>
   <h1>Security is Our Specialty</h1>
   <p>We know security. Moving to <%= external_google_search_link_to 'OpenID'%>? We can help. Whether you need an innovative security solution for your new project or a security assessment for an existing one <%= company_name %> is your pal.</p>
</div>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<div class='popout bill'>
   <h1>Bill Burcham is our main propeller</h1>
   <p>He has the skills of five ninja.</p>
</div>

<div class='hide'>
<%= co_branding_link('iPhone', 'rails_logo_remix_big.png') %>
<%= co_branding_link('OpenID', 'openid-icon-100x100.png') %>
<%= co_branding_link('Ruby on Rails', 'rails_logo_remix_big.png') %>
<%= co_branding_link('Amazon Web Services', 'PBAWS_LOGO_300px.jpg') %>
</div>
