<div class='span-13 prepend-1 vcard'>
<div class='icon span-2'><%= link_to '<img src="/images/icon_mail.png" alt="ping me" />', url_for( :controller => 'contact', :action => 'index') %></div>
<div class='span-11 last'>
   <h1 class="fn org"><%= link_to vcard[:fn], vcard[:url], :class => 'url'%></h1>
   <div class='addresses'>
   <p class="adr">
   <%= render :partial => 'microformat/address', :collection => vcard[:addresses], :spacer_template => 'microformat/p_address_spacer.html'%>
   </p>
   </div>
   <div class='emails'>
   <p>
   <%= render :partial => 'microformat/email', :collection => vcard[:emails], :spacer_template => 'microformat/p_spacer.html'%>
   </p>
   </div>
   <div class='telephones'>
   <p class="tel">
   <%= render :partial => 'microformat/telephone', :collection => vcard[:telephones], :spacer_template => 'microformat/p_telephone_spacer.html'%>
   </p>
   </div>
</div>
</div>