<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
   <%= yield 'head'%>
   <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
   <meta name = "viewport" content = "width = device-width, initial-scale = 0.6">
   <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
   <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen, projection', :cache => true %>
   <%= stylesheet_link_tag 'blueprint/print', :media => 'print', :cache => true %>
   <!--[if IE]><%= stylesheet_link_tag 'blueprint/ie', :media => 'screen, projection', :cache => true %><![endif]-->	
   <%= stylesheet_link_tag 'application', :cache => true %>
   <%= stylesheet_link_tag 'iphone', :media => 'screen', :cache => true %>
</head>

<body class='<%=body_class%>'>
<div class='page'>
   <%= render :partial => 'alerts/show'%>
   <div class='container no-alerts'>
      <div class='span-14'>
         <div class='span-14 head last'>
            <ul class='nav prepend-1 last'>
               <li class='home'><%= link_to 'Home', home_url %></li>
               <li class='why'><%= link_to 'Why', why_url%></li>
               <li class='contact'><%= link_to 'Contact', contact_url %></li>
               <div class='login'><%= render :partial => 'openids/login'%></div>
            </ul>
         </div>
         <div class='span-14 content last'>
            <%= yield %>
         </div>
      </div>
      <div class='span-7 prepend-1 last ihide'> <!--can be thought of as right column, contains only the logo and whitespace-->
         <%= link_to '<img alt="Thought Propulsion" src="/images/logo.png"/>', home_url %>
      </div>
   </div><!--End container-->
   <div class='foot'>
      <span class='small'>&copy; 2008 <%=company_name%></span>
   </div>
.
</div>
</body>
</html>