<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Thought Propulsion | <%= @page_title %></title>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
   <link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection">
   <link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print"> 
   <!--[if IE]><link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->	
	<%= stylesheet_link_tag 'application' %>
</head>

<body>
      <% if flash.empty? %>
      <div class='container alerts' style="display:none">
         <div class='prepend-1 span-20 last'>
            <p id="flash" class="alert"></p>
         </div>
      </div>
      <% else %>  
      <% flash.each do |key,value| -%>
      <div class='container alerts'>
         <div class='prepend-1 span-20 last'>
            <p id="flash" class='<%= key %> alert'>
               <%= value %>
            </p>
         </div>
      </div>
      <% end -%>
      <% end %>
   <div class="container no-alerts">
      <div class='span-14'>
         <div class="span-14 head">
            <div class="span-1 prepend-4 navigation"><%= link_to 'Home', home_url %></div>
            <div class="span-1 navigation"><%= link_to 'Why', why_url%></div>
            <div class="span-1 append-6 navigation"><%= link_to 'Contact', contact_url %></div>
         </div>
      	<div class="span-13 prepend-1 content">
            <%= yield %>
      	</div>
      </div>
   	<div class="span-7 last"> <!--can be thought of as right column, contains only the logo and whitespace-->
         <%= link_to '<img alt="Thought Propulsion" src="/images/logo.png"/>', home_url %>
      </div>
   </div><!--End container-->

   <div class="container foot"> <!--IE requires this foot div to exist outside the container, because IE is "special" like that-->
      <div class="span-14 prepend-1">
         <% if @user.blank? %>
         <%= render :partial => 'openids/new'%>
         <% else %>
         <%= render :partial => 'openids/welcome'%>
         <% end %>
      </div>
      <div class="span-6 last">
         <span class="small">
            &copy; 2008 <%=company_name%>
         </span>
      </div>
   </div><!--End Foot-->
</body>
</html>