<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
   <title><%= page_title %></title>
   <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
   <meta name = "viewport" content = "width = device-width, initial-scale = 0.6">
   <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
   <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen, projection', :cache => true %>
   <%= stylesheet_link_tag 'blueprint/print', :media => 'print', :cache => true %>
   <!--[if IE]><%= stylesheet_link_tag 'blueprint/ie', :media => 'screen, projection', :cache => true %><![endif]-->	
   <!--[if lt IE 7.]><script defer type="text/javascript" src="/javascripts/pngfix.js"></script><![endif]-->
   <%= stylesheet_link_tag 'application', :cache => true %>
   <%= stylesheet_link_tag 'iphone', :media => 'screen', :cache => true %>
   <%= yield :head %>
</head>
<body class='<%=body_class%>'>
   <div class='page'>
      <%= render :partial => 'alerts/show'%>
      <div class='container no-alerts'>
         <div class='span-14'>
            <div class='span-14 head last'>
               <ul class=' span-13 prepend-1 nav last'>
                  <%= yield :navigation %>
               </ul>
            </div>
            <div class='span-14 content last'>
               <%= yield %>
            </div>
         </div>
         <div class='span-6 prepend-1 last ihide'> <!--can be thought of as right column, contains only the logo and whitespace-->
            <%= link_to '<img alt="Thought Propulsion" src="/images/logo.png"/>', thoughtpropulsion_url %>
         </div>
      </div><!--End container-->
      <div class='prepend-1 foot'>&copy; 2008 <%=company_name%></div>
   </div>
</body>
</html>